<%- include("../partials/header") %>
<section>
    <table>
        <thead>
            <tr>
                <th>Airline:</th>
                <th>Flight Number:</th>
                <th>Departure:</th>
                <th>Airport:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Airline: <%= flight.airline%></td>
                <td>Flight Number: <%= flight.flightNo%></td>
                <td>Departure: <%= flight.departs%></td>
                <!-- here, we COULD choose to format the Date object with moment.js, but i think it makes more
                    sense to leave it verbose (including hhmmss), since we ARE on the DETAILS page after all -->
                <td>Airport: <%= flight.airport%></td>
            </tr>
        </tbody>
    </table>

</section>

<br><br>
<h2>Add New Destination for Flight No. <%= flight.flightNo%></h2>
<form action="/flights/<%= flight._id%>/destinations" method="POST">
    <!-- we handle this action in the destinations.js router
    https://gist.github.com/jim-clark/d7e5c9130c9b46b253d4c47aa601596a ;
    note that this RESTful route is just creating a "comment" for a "post"; this
    is because we have the form ON the SAME page, so we don't need to be redirecting
    to a "new.ejs" template; typically, when we DO have a "/new" at the end of an
    action or url, that implies that we are going to another location; also note that
    the verbs for these two actions (i.e. "/flights/<%= flight._id%>/destinations" 
    vs "/flights/<%= flight._id%>/destinations/new") are DIFFERENT. we need "POST" for
    the FORMER, and "GET" for the LATTER; you can see the routes in the link above-->
    <label>Destination:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SEA">SEA</option>
    </select><br>
    <label>Arrival Date:</label>
    <input type="datetime-local" name="arrival"><br>
    <!-- remember that the name attribute for the Destination (the embedded doc)
    is  "arrival" not "departs"-->
    <input type="submit" value="Add Destination">
</form>

<% if(flight.destinations.length) {%>
<table>
    <thead>
        <tr>
            <th>Destination</th>
            <th>Arrival Time</th>
        </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(d => { %>
        <tr>
            <td><%= d.airport%></td>
            <td><%= d.arrival%></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else {%>
<h4>No Destinations Yet</h4>
<% }%>

<p>
    <a href="/flights/<%= flight._id%>/tickets/new">New Ticket</a>
</p>

<table>
    <thead>
        <tr>
            <th>Seat</th>
            <th>Price ($)</th>
            <th>Flight</th>
        </tr>
    </thead>
    <tbody>
            <% if(tickets.length) {%>
            <% tickets.forEach(t => { %>
            <tr>
                <td><%= t.seat%></td>
                <td><%= t.price%></td>
                <td><%= t.flight%></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <% } else {%>
    <h4>No Tickets Yet</h4>
    <% }%>



<%- include("../partials/footer") %>