<%- include("../partials/header") %>
<section>
    <table>
        <thead>
            <tr>
                <th>Airline:</th>
                <th>Flight Number:</th>
                <th>Departure:</th>
                <th>Airport:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Airline: <%= flight.airline%></td>
                <td>Flight Number: <%= flight.flightNo%></td>
                <td>Departure: <%= flight.departs%></td>
                <!-- here, we COULD choose to format the Date object with moment.js, but i think it makes more
                    sense to leave it verbose (including hhmmss), since we ARE on the DETAILS page after all -->
                <td>Airport: <%= flight.airport%></td>
            </tr>
        </tbody>
    </table>

</section>

<br><br>
<h2>Add Destination</h2>
<form action="/flights/<%= flight._id%>/destinations" method="POST">
    <!-- we handle this action in the destinations.js router -->
    <label>Destination:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SEA">SEA</option>
    </select><br>
    <label>Arrival Date:</label>
    <input type="datetime-local" name="arrival"><br>
    <!-- remember that the name attribute for the Destination (the embedded doc)
    is  "arrival" not "departs"-->
    <input type="submit" value="Add Destination">
</form>

<% if(flight.destinations.length) {%>
<table>
    <thead>
        <tr>
            <th>Destination</th>
            <th>Arrival Time</th>
        </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(d => { %>
        <tr>
            <td><%= d.airport%></td>
            <td><%= d.arrival%></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else {%>
<h4>No Destinations Yet</h4>
<% }%>
<%- include("../partials/footer") %>